.event_wrap .pc {display: inline-block;}
.event_wrap .mobile {display: none;}
.event_warp .hidden {display: none;}
.event_warp .on {display: inline;}

.event_wrap .section01 {position:relative;}
.event_wrap .section01 .btns.b01 a{position: absolute;left: 33%;top: 89.5%;width: 34%;height: 5%;}
.event_wrap .section01 .btns.q01 a{position: absolute;left: 26%;top: 83.5%;width: 48%;height: 5%;}
.event_wrap .section01 .btns.q02 a{position: absolute;left: 26%;top: 83.5%;width: 48%;height: 5%;}
.event_wrap .section04 {position:relative;}
.event_wrap .section04 .btns.b02 a{position: absolute;left: 50.7%;top: 71.5%;width: 14%;height: 7%;}
.event_wrap .section04 .btns.b03 a{position: absolute;left: 69.6%;top: 71.5%;width: 14%;height: 7%;}


.answer-input{position: absolute;top: 62%;width: 100%;margin: 0 auto;}

.answer-input .radio { margin-bottom: 4vw; }
.answer-input .radio input[type="radio"] {position: absolute;opacity: 0;}
.answer-input .radio label{font-size: 6.5vw;font-weight: 400;}
.answer-input .radio input[type="radio"] + .radio-label:before {
    content: "";
    background: #f4f4f4;
    border-radius: 100%;
    border: 1px solid #b4b4b4;
    display: inline-block;
    width: 3vw;
    height: 3vw;
    position: relative;
    top: -0.4vw;
    margin-right: 1vw;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    transition: all 250ms ease;
}
.answer-input .radio input[type="radio"]:checked + .radio-label:before {
    background-color: #f4f4f4;
    box-shadow: inset 0 0 0 4px #f4f4f4;
}
.answer-input .radio input[type="radio"]:focus + .radio-label:before {
    outline: none;
    border: 4px solid #7000c7;
}
.answer-input .radio input[type="radio"]:disabled + .radio-label:before {
    box-shadow: inset 0 0 0 4px #f4f4f4;
    border-color: #b4b4b4;
    background: #b4b4b4;
}
.answer-input .radio input[type="radio"] + .radio-label:empty:before {
    margin-right: 0;
}
@media screen and (min-width: 768px) {
    .answer-input .radio label{font-size: 4.7vw;font-weight: 600;}
}
@media screen and (max-width: 767px) {
    .event_wrap .mobile {display: inline-block !important;}
    .event_wrap .pc {display: none !important;}
    .event_wrap .section01 .btns.b01 a{left: 20%;top: 90.5%;width: 59%;height: 4%;}
    .event_wrap .section01 .btns.q01 a{left: 26%;top: 83.5%;width: 48%;height: 5%;}
    .event_wrap .section01 .btns.q02 a{left: 26%;top: 83.5%;width: 48%;height: 5%;}
    .answer-input{top: 63%;}
    .answer-input .radio { margin-bottom: 8vw; }
    .answer-input .radio label{font-size: 5.7vw;font-weight: 600;}
    .answer-input .radio input[type="radio"] + .radio-label:before {
        width: 5vw;
        height: 5vw;
        top: 0.3vw;
        margin-right: 3vw;
    }

}